@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Turret+Road&display=swap");

@font-face { 
    font-family: OptimaLTStd;
    src: url('../fonts/OptimaLTStd.ttf');
}

@font-face { 
    font-family: OptimaLTStd;
    src: url('../fonts/OptimaLTStd-DemiBold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: NotoSans;
    src: url("../fonts/NotoSans-Medium.ttf");
}
@font-face {
    font-family: NotoSans;
    src: url("../fonts/NotoSans-Light.ttf");
    font-weight: 100;
}
@font-face {
    font-family: NotoSans;
    src: url("../fonts/NotoSans-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: NotoSans;
    src: url("../fonts/NotoSans-LightItalic.ttf");
    font-style: italic;
}

.hidden {
    visibility: hidden !important;
    /* opacity: 0; */
}

:root {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}

/* *{
    font-family: Playfair Display, serif;
    margin: 0;
    padding: 0;
    color: #E9D6C3 
} */

html,body {
    height:100%;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 12vw;
    margin-bottom: 2rem;
    margin-top: 0;
}
h1 > span {
    font-size: 2.4rem;
    font-weight: 100;
}
h2{
    font-size: 2.4rem;
    margin-bottom: 1rem;
    margin-top: 0;
    font-weight: 50;
}
h3{
    font-size: 5vw;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: 50;
}
h4{
    font-size: 1.8rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: 50;
}


/* UTILITIES */

.overlay {
    position: absolute;
    top: 10vh;
    display: flex; 
    width: 100vw; 
    height: 80vh; 
    background-color: rgba(75, 56, 48, 1); 
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#DA-label {
    margin: 3vh;
}

.spotlight {
    position: absolute;
    top: 15vh;
    display: flex;  
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    width: 37.5rem;
    border-radius: 350px / 400px;
}

.spotlight-sq {
    position: absolute;
    top: 20.5vh;
    display: flex;  
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    width: 35rem;
    height: 30rem;
}

.spotlight-flag {
    position: relative;
    --notch: 40px;
    clip-path: 
        polygon(
            0% 0%,     /* top left */
            100% 0%,    /* top right */
            100% 100%,  /* bottom right */
            50% 90%,  /* flag point */
            0 100%      /* bottom left */
        );
    /* padding-top: 5rem; */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    width: 95vw;
    /* height: 30rem; */
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}

.container > * {
    width: 100%;
}

.product {
    display: flex;
    position: relative;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row-center{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.align-center{
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.scrolling {
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none; /* hides scrollbars */
}

/* FONTS */

.DA-Font {
	font-family: "Playfair Display", serif;
    margin-bottom: 0;
    padding: 0;
    color: #4B3830;
}

.CC-Font {
	font-family: "EB Garamond", serif; 
    margin: 0;
    padding: 0;
    color: #FFFDE7; 
}

.EC-Font {
	font-family: "Turret Road", cursive;
    margin: 0;
    padding: 0;
    color: #2D3A3A; 
}

#your-aesthetic-is {
    margin-top: 2rem;
}

/* BUTTONS */

.DA-btn {
    font-size: 1.5rem;
    padding: 0.7rem 0;
    width: 12rem;
    text-align: center;
    border: 0.1rem solid #4B3830;
    border-radius: 25px;
    margin-top: 1.5rem;
    text-decoration: none;
    font-family: "Optima LT Std";
    color: #E3D8CA;
    background-color: #39563C;
}

#see-products-btn {
    margin-bottom: 15vw;
}

.CC-btn {
    font-size: 1.5rem;
    padding: 0.7rem 0;
    width: 12rem;
    text-align: center;
    border: 0.1rem solid #FFFDE7;
    border-radius: 25px;
    margin-bottom: 1rem;
    text-decoration: none;
    font-family: "Optima LT Std";
    color: #FFFDE7;
    background-color: #687BBA;
}

.EC-btn {
    font-size: 1.5rem;
    padding: 0.7rem 0;
    width: 12rem;
    text-align: center;
    border: 0.1rem solid #F5F5F5;
    border-radius: 25px;
    margin-bottom: 1rem;
    text-decoration: none;
    font-family: "Optima LT Std";
    color: #F5F5F5;
    background-color: #621708;
}

.DA-btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 2.4rem 0 rgba(0, 0, 0, 0.5); 
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.CC-btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 2.4rem 0 rgba(0, 0, 0, 0.5); 
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.EC-btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 2.4rem 0 rgba(0, 0, 0, 0.5); 
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}


.arrow {
    border: solid #4B3830;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 8px;
    margin-bottom: 10vh;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-bottom: 10vh;
}

#up-arrow-container {
    margin-bottom: 9vh;
}
  
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}

.container > * {
    width: 100%;
}

.aesthetic-container {
    margin-top: 26vw;
}

.product {
    display: flex;
    position: relative;
    height: 72vh;
    width: 82%;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 4vh;
}

.product-header {
    padding-top: 5vh;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-img {
    width: 40%;
    float: left;
    /* margin-left: 19rem; */
    margin-right: 2rem;
}

.brand-logo {
    width: 40vw;
    height: auto;
}

.product-desc {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.prod-desc-div {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 15vh;
}

.prod-category {
    font-size: 1.7rem;
}

.prod-info-container {
    overflow-wrap: break-word;
    width: 24vh;
}

.product {
    display: flex;
    position: relative;
    height: 72vh;
    width: 82%;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 4vh;
}

.product-list {
    /* padding-top: 5vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    overflow: scroll;
    height: 123vw;
    width: 95vw;
}

.share-circle {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
    display: flex;  
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: rgba(255,255,255, 1);
}