@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Turret+Road&display=swap');
@import url('//db.onlinewebfonts.com/c/1303f23ac6a9bad6b7d1978d846636d2?family=Optima+LT+Std');

@font-face { 
    font-family: OptimaLTStd;
    src: url('../quiz/fonts/OptimaLTStd.ttf');
}

@font-face { 
    font-family: OptimaLTStd;
    src: url('../quiz/fonts/OptimaLTStd-DemiBold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: NotoSans;
    src: url("../quiz/fonts/NotoSans-Medium.ttf");
}
@font-face {
    font-family: NotoSans;
    src: url("../quiz/fonts/NotoSans-Light.ttf");
    font-weight: 100;
}
@font-face {
    font-family: NotoSans;
    src: url("../quiz/fonts/NotoSans-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: NotoSans;
    src: url("../quiz/fonts/NotoSans-LightItalic.ttf");
    font-style: italic;
}

.hidden {
    display: none !important;
}

:root {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
}

/* *{
    font-family: Playfair Display, serif;
    margin: 0;
    padding: 0;
    color: #E9D6C3 
} */

html,body {
    height:100%;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1{
    font-size: 5rem;
    margin-bottom: 2rem;
}
h1 > span {
    font-size: 2.4rem;
    font-weight: 100;
}
h2{
    font-size: 1.8rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
    font-weight: 50;
}
h3{
    font-size: 1.8rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-weight: 50;
}
h4{
    font-size: 1.8rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: 50;
}


/* UTILITIES */

.overlay {
    position: absolute;
    top: 10vh;
    display: flex; 
    width: 100vw; 
    height: 80vh; 
    background-color: rgba(75, 56, 48, 1); 
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

.spotlight {
    position: absolute;
    top: 25vh;
    display: flex;  
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    width: 35.5rem;
    border-radius: 350px / 400px;
}

.spotlight-sq {
    position: absolute;
    top: 15vh;
    display: flex;  
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    width: 35rem;
    height: 30rem;
}

.spotlight-flag {
    position: relative;
    box-sizing: content-box;
    padding-top: 5rem;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    width: 35rem;
    height: 30rem;
}

.spotlight-flag:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 5rem solid #eee;
    border-left: 17.5rem solid transparent;
    border-right: 17.5rem solid transparent;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.arrow {
    border: solid #FFFDE7;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 10vh;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
  
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}

.container > * {
    width: 100%;
}

.product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 5rem;
    overflow: scroll;
    height: 39rem;
    /* width: 100vw; */
}

.product {
    display: flex;
    position: relative;
    height: 72vh;
    width: 82%;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 7vh;
}

.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row-center{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.align-center{
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.scrolling {
    overflow: scroll;
}

::-webkit-scrollbar {
    display: none; /* hides scrollbars */
}


.product-img {
    width: 45%;
    float: left;
    /* margin-left: 19rem; */
    margin-right: 2rem;
}

.brand-logo {
    width: 150px;
    height: auto;
}

.product-desc {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.prod-info-container {
    overflow-wrap: break-word;
    width: 24vh;
}

/* FONTS */

.DA-Font {
	font-family: Playfair Display, serif;
    margin: 0;
    padding: 0;
    color: #E9D6C3;
}

.CC-Font {
	font-family: 'EB Garamond', serif; 
    /* margin: 0;
    padding: 0; */
    color: #FFFDE7; 
}

.EC-Font {
	font-family: 'Turret Road', cursive;
    margin: 0;
    padding: 0;
    color: #F5F5F5; 
}

#cc-label {
    margin-top: 5.5vh;
}

/* BUTTONS */

.DA-btn {
    font-size: 1.5rem;
    padding: 0.7rem 0;
    width: 12rem;
    text-align: center;
    border: 0.1rem solid #E9D6C3;
    border-radius: 25px;
    margin-bottom: 1rem;
    text-decoration: none;
    font-family: "Optima LT Std";
    color: #E9D6C3;
    background-color: #30321C;
}

.CC-btn {
    font-size: 1.5rem;
    padding: 0.7rem 0;
    width: 12rem;
    text-align: center;
    border: 0.1rem solid #FFFDE7;
    border-radius: 25px;
    margin-bottom: 1rem;
    text-decoration: none;
    font-family: "Optima LT Std";
    color: #FFFDE7;
    background-color: #687BBA;
}

.EC-btn {
    font-size: 1.5rem;
    padding: 0.7rem 0;
    width: 12rem;
    text-align: center;
    border: 0.1rem solid #F5F5F5;
    border-radius: 25px;
    margin-bottom: 1rem;
    text-decoration: none;
    font-family: "Optima LT Std";
    color: #393E41;
    background-color: #2B237D;
}

.DA-btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 2.4rem 0 rgba(0, 0, 0, 0.5); 
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.CC-btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 2.4rem 0 rgba(0, 0, 0, 0.5); 
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.EC-btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 2.4rem 0 rgba(0, 0, 0, 0.5); 
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/* shopping cart styles */

.navbar {
    background-color: black;
}

.navbar-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
    height: 5rem;
    /* font-family: 'providence-bold';
    src: url('/fonts/OptimaLTStd.ttf'); */
    /* background-color: rgb(138, 38, 38);    */
    margin-left: 4%;
    margin-right: 4%;
}

#logo {
    display: block;
    /* left: 50%; */
    max-height: 35%;
    width: auto;
}

.cart {
    display: flex;
    /* justify-content: center; */
}

#cart-btn {
    /* max-height: 5%; */
    max-width: 75%;
    margin-left: auto;
    /* margin-right: auto; */
}

.cart-icon {
    margin-left: 35px;
    display: flex;
}

#cart-count {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    top: 29px;
    right: 11px;
    color: black;
    text-align: center;
    font-family: NotoSans;
    font-weight: bold;
    font-size: 1.2rem;
}

#cart-list {
    overflow: scroll;
    height: 185px;
}

.cart-contents {
    height: 32rem;
    width: 20rem;
    right: -1px;
    /* top: auto; */
    position: absolute;
    background-color: white;
    z-index: 996;
    bottom: 441px;
    /* left: 542px; */
}

.cart-contents > header > p, a {
    font-family: OptimaLTStd;
    color: black;
    font-size: 1.5rem;
    margin: 0;
}

.cart-contents header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#exit-cart-btn {
    max-width: 13%;
}

.cart-items {
    padding: 0 10px 10px 10px;
}

#product1-img {
    max-width: 20%;
    float: left;
    /* margin: 0px 10px 5px 5px; */
    margin-right: 10px;
}

.cart-product-name {
    font-family: NotoSans;
    font-size: 1.25rem;
}

.cart-product-details, .cart-product-qty {
    font-family: NotoSans;
    font-weight: 100;
    font-size: 1.2rem;
    color: black;
}

.cart-product-qty {
    font-family: NotoSans;
    font-style: italic;
    font-size: 1.25rem;
}

a:link {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.cart-product {
    margin-bottom: 15px;
}

.cart-product-price {
    font-family: NotoSans;
    font-weight: bold;
    font-size: 1.25rem;
    color: black;
}

.subtotal {
    display: flex;
    justify-content: space-between;
}

.cart-footer {
    padding: 10px;
}

.subtotal p {
    font-family: OptimaLTStd;
    color: black;
    font-size: 1.45rem;
    margin: 0;
}

.checkout {
    display: flex;
    justify-content: center;
}

.checkout button {
    width: 100%;
    font-family: OptimaLTStd;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: black;
    margin: 10px 0 10px 0;
    line-height: 30px;
}